/*gerais*/
body{
    background: #EEEEEE;
    margin: 80px 0px 100px 0px;
}
main{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*estilo do topo*/
header{
    background: #CF2B2B;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.80);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.80);
    z-index: 11;
}

/*estilo do footer*/
footer{
    background: #FFFFFF;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.80);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.80);
    z-index: 10;
}
footer button{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 100;
    padding: 5px 20px;
    background: #CBCBCB;
    width: 80%;
    border-radius: 30px;
    border: none;
    transition: background 200ms ease-in-out;
}

/*estilo dos titulos*/
h1{
    font-size: 35px;
    margin-bottom: 5px;
}
h2{
    font-size: 25px;
    font-family: 'Righteous', cursive;
    margin-bottom: 15px;
}
h3{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
h3::first-letter{
    text-transform: capitalize;
}
h4{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
h5{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0px;
    text-transform: capitalize;
}
p{
    font-size: 14px;
    font-weight: thin;
    margin: 10px 0px;
}

/*estilo das section*/
.prato, .bebida, .sobremesa{
    font-family: 'Roboto', sans-serif;
    color: #333333;
    height: 280px;
    margin: 20px 0px;
}
.prato ul, .bebida ul, .sobremesa ul{
    display: flex;
    align-items: center;
    overflow: scroll;
    border-radius: 7px;
    box-shadow: none;
    padding: 7px;
    margin: 10px 0px;
}
-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.prato li, .bebida li, .sobremesa li{
    width: 170px;
    height: 260px;
    margin: 0px 15px 0px 0px;
    border-radius: 7px;
    flex-shrink: 0;
    background: #FFFFFF;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li img{
    width: 150px;
    height: 90px;
    border-radius: 15px;
}
.bebidas img{
    width: 90px;
    height: 90px;
}
.iconeCheck{
    display: none;
}

/*pratos do combo selecionados*/
.selecionado{
    border: 5px solid #32B72F;
    position: relative;
    width: 175px;
    height: 250px;
}
.selecionado .iconeCheck{
    display: initial;
    color: #32B72F;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*janela de confirmação do pedido*/
.janelaConfirmacao{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.90);
    transition: all 200ms ease-in-out;
}
.confirmacao{
    display: flex;
    width: 100%;
    height: 350px;
    background: #4fd074;
    color: white;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.janelaConfirmacao h3{
    font-size: 25px;
}
.btnConfirm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnConfirm button:first-child{
    background-color: white;
    display: inline-block;
    padding: 10px;
    width: 90%;
    border: none;
    color: #4fd074;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.btnConfirm button:last-child{
    background: transparent;
    display: inline-block;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
.pedido{
    width: 100%;
}
.pedido div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pedido span{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0px;
}
.total span{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}